.review-item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.product-img {
    width: 91px;
}

.review-item-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delete-btn {
    width: 60px;
    height: 60px;
    border: 0;
    background-color: rgb(255, 233, 237);
    border-radius: 50%;
}

.trash-icon {
    color: lightcoral;
    height: 27px;
}

.delete-container {
    display: flex;
    align-items: center;
}